
main .carousel-item img{
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
}

@media (max-width: 767px) { 
    main .carousel-item img {
      height:100%;
      width: auto;
    }
}


#carousel {
    position: relative;
}
#carousel .overlay{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);;
    color: #fff;
}
#carousel .overlay .container, #carousel .overlay .row {
    height: 100%;
}
#carousel .overlay img{
    max-width: 60%;
    border-radius: 50%;
    
}

@media (max-width: 767px) {
    #carousel .overlay img{
        max-width: 45%;
        display: inline-block;
        align-items: center;
        justify-content: center;
        
    }
}

.images-w{
    height: 64px;
    width: 64px;
}

#software img{
    max-width: 54px;
}


 /* _____________footer_________*/
footer{
    height: auto;
}
footer .container{
   text-align: center;
 
}

footer h3{
 color: #fff;
}
footer .icon{
 display: flex;
 justify-content: center;
}
@media (max-width: 768px) {
    footer .icon{
        display: block;
     
       }
}

footer i{
    margin-right: 10px;
    color: rgb(192, 192, 192);
    font-size: 1.6rem;  
}
footer a{
    margin-left: 40px;
    color: rgb(192, 192, 192);
    text-decoration: none;
    display: flex;
    justify-content: center;
}
footer a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
   
}
footer .btn-eli{
    display:inline-block;
    text-decoration: none;
    color: rgb(192, 192, 192);
    font-size: 1.4rem;  

}
footer .btn-eli:hover{
   color: #fff;
}





@media (min-width: 767px) {
    footer .btn-eli{
        text-align: end;  
    }   
}
footer i:hover{
    color: rgb(196, 196, 196);
}

.fecha-empresa{
    color: rgb(175, 175, 175);
}

.link-estudio {
    color: #404040;
    text-decoration: none;
}
.link-estudio:hover {
   
    color: #880303;
    text-decoration: none;
}

/* _______________Plaza 8____________ */
#galeria img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;

}
#galeria img:hover {
   border: 5px solid #fff ;
}
#galeria .col-lg-4 {
    margin: 0;
    padding: 15px;
}
#galeria p {
  margin-top: 10px;

}


