footer.bg-dark
    .container
        .row
            .col-12.col-md-6.mt-4
                a(href="")
                    <i class="fab fa-facebook"></i>
                a(href="")
                    <i class="far fa-envelope"></i>
                a(href="")
                    <i class="fab fa-instagram"></i>
                a(href="")
                    <i class="fas fa-phone"></i>
            .col-12.col-md-6.mt-4
                p Ing. Eliezer Mas y rubi