footer.bg-dark
    .container
        .row
            .col-12.col-md-6.mt-4
                a(href="")
                    <i class="fab fa-Whatsapp"></i>
                a(href="")
                    <i class="fab fa-linkedin-in"></i>
                a(href="")
                    <i class="fab fa-instagram"></i>
                a(href="")
                    <i class="fas fa-at"></i>
            .col-12.col-md-6.mt-4
                a(href="index.html").btn-eli.mb-4 Ing. Civil Eliezer Mas y rubi