footer.bg-dark#contacto
    .container.pt-4
        h3 Contactame
        .icon.mt-4
            a(href="https://wa.me/5491127256698" target="_blank")
                <i class="fab fa-Whatsapp"></i>
                p +54 911 27256698
            a(href="https://www.linkedin.com/in/eliezer-mas-y-rubi-74a7a8162/?originalSubdomain=ar" target="_blank")
                <i class="fab fa-linkedin-in"></i>
                p Eliezer Mas y rubi
            a(href="https://www.instagram.com/eliezer_masyrubi/?hl=es-la" target="_blank")
                <i class="fab fa-instagram"></i>
                p @eliezer_masyrubi
            a(href="mailto:elimasyrubi@gmail.com" target="_blank")
                <i class="far fa-envelope"></i>
                p elimasyrubi@gmail.com
        a(href="index.html").btn-eli.mb-4 Ing. Civil Eliezer Mas y rubi