extend componentes/plantilla_bootstrap.pug
block contenido
	main#main
		.carousel.slide.carousel-fade(data-ride="carousel" data-pause="false")#carousel
			.carousel-inner
				.carousel-item.active
					<img src="images/baño00.jpg" class="d-block w-100"  alt="...">
				.carousel-item
					<img src="images/baño08.jpg" class="d-block w-100" alt="...">
				.carousel-item
					<img src="images/baño09.jpg" class="d-block" alt="...">
				.overlay
					.container
						.row.align-items-center
							.col-12.col-md-6.offset-md-3.text-center.text-md-center.mb-04
								h1.h2 Obras Civiles Varias en la Facultad de Odontología de la Universidad de Buenos Aires.
								p Responsabilidades a cargo: Pedido y control de materiales, coordinación de actividades, planificación de obra, manejo de personal, cómputos métricos, control de calidad, realización de notas de pedido, Solución de conflictos laborales, reuniones con el ente contratante, Supervisión de las actividades de obra
								p.fecha-empresa Desde Octubre 2018 hasta Novimbre 2019 </br> Empresa: Infraestructura Básica Aplicada S.A. 
    
	section#experiencia.mt-4
		.container
			.row
				.col.text-center.mb-4.mt-4: h2 Anexos
			.row
				+exp-Ibasa ('Baños Publicos','images/baño/baño (13).jpg','Avance y acabado de obra','01')
				+exp-Ibasa ('Interior de Baños','images/interior/interior (1).jpg','Acabado de obra','02')
				+exp-Ibasa ('Estructura de acero','images/herreria/herreria (10).jpg','Escalera, Vigas y columnas','03')
				+exp-Ibasa ('Plomería','images/plomeria/plomeria (1).jpg','Red de aguas','04')
				+exp-Ibasa ('Cielorraso y luminacion','images/cielorraso/cielorraso (8).jpg','Más de 500m2 colocado','05')
				+exp-Ibasa ('Deck','images/deck/deck (9).jpg','Más de 300m2 colocados','06')
				+exp-Ibasa ('Pasarela','images/pasarela/pasarela (7).jpg','Comienzo y acabado','07')
				+exp-Ibasa ('Menbrana asfaltica','images/membrana/membrana (6).jpg','Mas de 500m2 colocados','08')
				+exp-Ibasa ('Losas','images/losa/losa (7).jpg','Entrepiso y techo','09')
				+exp-Ibasa ('Revestimiento ','images/ceramica/ceramica (4).jpg','Mas de 800m2 Porcelanato','10')
				+exp-Ibasa ('Sistema de Calefacción ','images/calefaccion/calefaccion (1).jpg','Piezas de 40cm x 35cm','11')
				+exp-Ibasa ('Albañileria','images/albañileria/albañileria (7).jpg','Replanteo, Pared Curva y mas','12')
				+exp-Ibasa ('Revestimiento ','images/revestimiento/revestimiento (2).jpg','Tarquini','13')
				+exp-Ibasa ('Área de Parrilla ','images/parrilla/parrilla (10).jpg','Parrillera, bachas y mesadas','14')
			
