extend componentes/plantilla_bootstrap.pug
block contenido
	main#main
		.carousel.slide.carousel-fade(data-ride="carousel" data-pause="false")#carousel
			.carousel-inner
				.carousel-item.active
					<img src="images/baño00.jpg" class="d-block w-100"  alt="...">
				.carousel-item
					<img src="images/baño08.jpg" class="d-block w-100" alt="...">
				.carousel-item
					<img src="images/baño09.jpg" class="d-block" alt="...">
				.overlay
					.container
						.row.align-items-center
							.col-12.col-md-6.offset-3.text-center.text-md-center.mb-04
								h1.h2 Obras Civiles Varias en la Facultad de Odontología de la U.B.A
								p Responsabilidades a cargo: Pedido y control de materiales, coordinación de actividades, planificación de obra, manejo de personal, cómputos métricos, control de calidad, realización de notas de pedido, Solución de conflictos laborales, reuniones con el ente contratante, Supervisión de las actividades de obra
								p.fecha-empresa Desde Octubre 2018 hasta Novimbre 2019 </br> Empresa: Infraestructura Básica Aplicada S.A. 
    
	section#experiencia.mt-4
		.container
			.row
				.col.text-center.mb-4.mt-4: h2 Anexos
			.row
				+exp-Ibasa ('Baños Publicos','images/baño/baño (13).jpg','Avance y acabado de obra','01')
