extend componentes/plantilla_bootstrap.pug
block contenido
	main#main
		.carousel.slide.carousel-fade(data-ride="carousel" data-pause="false")#carousel
			.carousel-inner
				.carousel-item.active
					<img src="images/baño00.jpg" class="d-block w-100"  alt="...">
				.carousel-item
					<img src="images/baño08.jpg" class="d-block w-100" alt="...">
				.carousel-item
					<img src="images/baño09.jpg" class="d-block" alt="...">
				.overlay
					.container
						.row.align-items-center
							.col-12.col-md-6.offset-3.text-center.text-md-center.mb-04
								h1.h2 Obras Civiles Varias en la Facultad de Odontología de la U.B.A
								p Responsabilidades a cargo: Pedido y control de materiales, coordinación de actividades, planificación de obra, manejo de personal, cómputos métricos, control de calidad, realización de notas de pedido, Solución de conflictos laborales, reuniones con el ente contratante, Supervisión de las actividades de obra
								p.fecha-empresa Desde Octubre 2018 hasta Novimbre 2019 </br> Empresa: Infraestructura Básica Aplicada S.A. 
    
	section#experiencia.mt-4
		.container
			.row
				.col.text-center.mb-4.mt-4: h2 Anexos
			.row
				.col-12.col-md-6.col-lg-3.mb-4
					<div class="card" >
						<img src="images/baño00.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Baños Publicos</h5>
							<p class="card-text">Acabado de obra, revestimiento tarquin</p>
							<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#experiencia01"> Ver detalles</button>
					</div>
					</div>
				.col-12.col-md-6.col-lg-3.mb-4
					<div class="card" >
						<img src="images/experiencia02.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Inspector de obras</h5>
							<h6 class="card-subtitle mb-2 text-muted">Grupo Altus</h6>
							<p class="card-text">Construcción de Centro Comercial Plaza 8. Dirección de obra, coordinación de actividades</p>
							<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#experiencia02"> Ver detalles</button>
						</div>
					</div>
				.col-12.col-md-6.col-lg-3.mb-4
					<div class="card" >
						<img src="images/experiencia02.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Diseño Estructural</h5>
							<h6 class="card-subtitle mb-2 text-muted">Universidad del Zulia</h6>
							<p class="card-text">Utilizando la herramienta de SAP200, en tesis universitarias y ejercicios de Cursos tomados</p>
							<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#experiencia03"> Ver detalles</button>
						</div>
					</div>
				.col-12.col-md-6.col-lg-3.mb-4
					<div class="card" >
						<img src="images/experiencia02.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Dibjante Cadista</h5>
							<h6 class="card-subtitle mb-2 text-muted">AutoCAD</h6>
							<p class="card-text">4 Años utilizando AutoCAD dibujando planos arquitectónicos, estructurales y mas.</p>
							<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#experiencia03"> Ver detalles</button>
						</div>
					</div>

