extend componentes/plantilla_bootstrap.pug
block contenido
	main#main
		.carousel.slide.carousel-fade(data-ride="carousel" data-pause="false")#carousel
			.carousel-inner
				.carousel-item.active
					<img src="images/cover01.jpg" class="d-block w-100"  alt="...">
				.carousel-item
					<img src="images/cover02.jpg" class="d-block w-100" alt="...">
				.carousel-item
					<img src="images/cover03.jpg" class="d-block" alt="...">
				.overlay
					.container
						.row.align-items-center
							.col-12.col-md-6.text-center.mt-4.mt-md-0: img(src="images/p (39).jpg" alt="img")
							.col-12.col-md-6.text-center.text-md-right.mb-04
								h1 Ingniero civil
								p Jefe de Obra, Inspector de Obras, Conocimiento y aplicación de las normas IRAM, ISO 9001, Código de Edificación Urbana, Manejo y conocimiento de base de datos, presupuesto, cómputos métricos, AutoCAD y Excel, Conocimientos en Análisisestructural


	//-________________Experiencia____________________

	section#experiencia.mt-4
		.container
			.row
				.col.text-center.mb-4.mt-4: h2 Experiencia
			.row
				.col-12.col-md-6.col-lg-3.mb-4
					<div class="card" >
						<img src="images/baño/baño 00.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Jefe de Obra</h5>
							<h6 class="card-subtitle mb-2 text-muted ">I.B.A.S.A.</h6>
							<p class="card-text">Construcciones de Obras Civiles Varias en la Facultad de Odontología de la Universidad de Buenos Aires.</p>
							a(href="experiencia-ibasa.html").btn.btn-outline-dark Saber más
					</div>
					</div>
				.col-12.col-md-6.col-lg-3.mb-4
					<div class="card" >
						<img src="images/plaza8/p (3).jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Jefe de obra</h5>
							<h6 class="card-subtitle mb-2 text-muted">Grupo Altus</h6>
							<p class="card-text">Construcción de Centro Comercial Plaza 8. Dirección de obra, coordinación de actividades</p>
							a(href="plaza8.html").btn.btn-outline-dark Saber más
						</div>
					</div>

				.col-12.col-md-6.col-lg-3.mb-4
					<div class="card" >
						<img src="images/sap/sap (6).png" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Diseño Estructural</h5>
							<h6 class="card-subtitle mb-2 text-muted">Universidad del Zulia</h6>
							<p class="card-text">Utilizando la herramienta de SAP200, en tesis universitarias y ejercicios de Cursos tomados</p>
							<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#experiencia15"> Saber más</button>
						</div>
					</div>
				.col-12.col-md-6.col-lg-3.mb-4
					<div class="card" >
						<img src="images/planos/planos (7).png" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Dibjante Cadista</h5>
							<h6 class="card-subtitle mb-2 text-muted">AutoCAD</h6>
							<p class="card-text">4 Años utilizando AutoCAD dibujando planos arquitectónicos, estructurales y mas.</p>
							<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#experiencia16"> Saber más</button>
						</div>
					</div>


	//-________________Estudios____________________
	section#estudios.container.mt-4
		.row
			.col.text-center.mb-4: h2 Estudios
		.row
			.col-12.col-md-6
				<ul class="list-unstyled">
					<li class="media">
						<img src="images/luz.gif" class="mr-3 images-w" alt="...">
						<div class="media-body">
							<h5 class="mt-0 mb-1">Ingeniero Civil</h5>
							Cras Universidad Del Zulia, Venezuela. </br> 2012-2017
						</div>
					</li>
					<li class="media my-4">
						<img src="images/cevaz.png" class="mr-3 images-w" alt="...">
						<div class="media-body">
							<h5 class="mt-0 mb-1">Ingles Avanzado</h5>
							Cras Centro Venezolano Americano del Zulia </br> 19  niveles aprovados, oral, lectura y escritura.
						</div>
					</li>
					<li class="media">
						<img src="images/autocad.png" class="mr-3 images-w" alt="...">
						<div class="media-body">
							<h5 class="mt-0 mb-1">AUTOCAD  2D, 3D Y LECTURA DE PLANOS</h5>
							Cras Instituto Universitario Politécnico Santiago Mariño
						</div>
					</li>
					<li class="media mt-4">
						<img src="images/sap01.png" class="mr-3 images-w" alt="...">
						<div class="media-body">
							<h5 class="mt-0 mb-1">	ANÁLISIS Y DISEÑO DE ESTRUCTURAS SISMORESISTENTES CON SAP2000</h5>
							Cras 
								a(href="http://www.steelconsultores.com/"  target="_blank").link-estudio Steel Construction, C.A. 
						</div>
					</li>
				</ul>
			.col-12.col-md-6
				<ul class="list-unstyled">
					<li class="media my-4">
						<img src="images/etabs.jpg" class="mr-3 images-w" alt="...">
						<div class="media-body">
							<h5 class="mt-0 mb-1">ANÁLISIS Y DISEÑO DE ESTRUCTURAS SISMORESISTENTES CON ETABS</h5>
							Cras 
								a(href="http://www.steelconsultores.com/"  target="_blank").link-estudio Steel Construction, C.A.
						</div>
					</li>
					<li class="media">
						<img src="images/stad.jpg" class="mr-3 images-w" alt="...">
						<div class="media-body">
							<h5 class="mt-0 mb-1">	ANALISIS Y DISEÑO DE  ESTRUCTURAS  CON STAAD.PRO V8I</h5>
							Cras Dictado por el ingeniero 
								a(href="https://www.linkedin.com/in/douglasjbetancourt/"  target="_blank").link-estudio Douglas Betancourt
						</div>
					</li>
				</ul>
					<li class="media">
						<img src="images/excel.png" class="mr-3 images-w" alt="...">
						<div class="media-body">
							<h5 class="mt-0 mb-1">EXCEL AVANZADO APLICADO A LA INGENIERÍA CIVIL</h5>
							Cras Dictado por el ingeniero 
								a(href="https://www.linkedin.com/in/douglasjbetancourt/"  target="_blank").link-estudio Douglas Betancourt
						</div>
					</li>
				</ul>


