extend componentes/plantilla_bootstrap.pug
block contenido
    main#main
        .carousel.slide.carousel-fade(data-ride="carousel" data-pause="false")#carousel
            .carousel-inner
                .carousel-item.active
                    <img src="images/plaza8/p (1).jpg" class="d-block w-100"  alt="...">
                .carousel-item
                    <img src="images/plaza8/p (2).jpg" class="d-block w-100" alt="...">
                .carousel-item
                    <img src="images/plaza8/p (3).jpg" class="d-block" alt="...">
                .overlay
                    .container
                        .row.align-items-center
                            .col-12.col-md-6.offset-md-3.text-center.text-md-center.mb-04
                                h1.h2 Construcción de Centro Comercial Plaza 8
                                p Responsabilidades a cargo: Pedido y control de materiales, coordinación de actividades, planificación de obra, manejo de personal, cómputos métricos, control de calidad, realización de notas de pedido, Solución de conflictos laborales, reuniones con el ente contratante, Supervisión de las actividades de obra
                                p.fecha-empresa Desde Octubre 2016 hasta Agosto 2017 </br> Empresa: Grupo Altus C.A.

    section#galeria.container
        .text-center.pt-3.mb-4.mt-4
            h2 Anexos
        .row
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (1).jpg" alt="Galeria de imagenes ")
                p Render de Vista General del proyecto
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (2).jpg" alt="Galeria de imagenes ")
                p  Vista General de la Obra
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (3).jpg" alt="Galeria de imagenes ")
                p Vista General de la Obra
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (4).jpg" alt="Galeria de imagenes ")
                p Superestructura del proyecto
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (5).jpg" alt="Galeria de imagenes ")
                p Vaciado de losa 
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (6).jpg" alt="Galeria de imagenes ")
                p Vaciado de losa 
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (7).jpg" alt="Galeria de imagenes ")
                p Superestructura del proyecto
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (8).jpg" alt="Galeria de imagenes ")
                p Superestructura del proyecto
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (10).jpg" alt="Galeria de imagenes ")
                p Avance en paredes sobre superestructura
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (11).jpg" alt="Galeria de imagenes ")
                p Vista General de la Obra
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (12).jpg" alt="Galeria de imagenes ")
                p Vaciado de escalera
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (13).jpg" alt="Galeria de imagenes ")
                p Vaciado de losa
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (14).jpg" alt="Galeria de imagenes ")
                p Vaciado de losa
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (15).jpg" alt="Galeria de imagenes ")
                p Vaciado de losa 
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (16).jpg" alt="Galeria de imagenes ")
                p Bomba con la cual se realizo la prueba hidrostatica a la red de aguas blancas
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (17).jpg" alt="Galeria de imagenes ")
                p Colocación de nervios
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (18).jpg" alt="Galeria de imagenes ")
                p Planos de red de tuberia sanitaria para baños publicos
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (37).jpg" alt="Galeria de imagenes ")
                p Vista general de la obra
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (20).jpg" alt="Galeria de imagenes ")
                p Colocacion de tuberia para aguas blancas y residuales
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (21).jpg" alt="Galeria de imagenes ")
                p Colector de aguas residuales de módulo 01
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (22).jpg" alt="Galeria de imagenes ")
                p Tuberías de aguas residuales en los baños públicos para damas.
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (23).jpg" alt="Galeria de imagenes ")
                p Tuberías de aguas residuales en los baños públicos para Caballeros.
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (24).jpg" alt="Galeria de imagenes ")
                p Colocación de acero para la fundación y viga de riostra de locales en módulo 01
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (25).jpg" alt="Galeria de imagenes ")
                p Vaciado de piso 
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (26).jpg" alt="Galeria de imagenes ")
                p Vaciado de losa de pavimento 
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (27).jpg" alt="Galeria de imagenes ")
                p Vaciado de losa de pavimento
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (28).jpg" alt="Galeria de imagenes ")
                p Encamisado en el área administrativa y área de vigilancia
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (29).jpg" alt="Galeria de imagenes ")
                p Radios para la siembra de palmeras
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (30).jpg" alt="Galeria de imagenes ")
                p Excavación para la colocación de tubería de agua para toma del abastecimiento público hacia el tanque.
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (31).jpg" alt="Galeria de imagenes ")
                p de Recolección de Datos con el topógrafo para nivelación de terreno para el vaciado de piso en área de farmacia
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (32).jpg" alt="Galeria de imagenes ")
                p Relleno de piso en área de farmacia
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (33).jpg" alt="Galeria de imagenes ")
                p Inicio de la compactación en el área de farmacia
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (34).jpg" alt="Galeria de imagenes ")
                p Planos del taller para la elaboración de estructura metálica.
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (35).jpg" alt="Galeria de imagenes ")
                p Colocación de tuberías para cableado eléctrico en módulo 2
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (36).jpg" alt="Galeria de imagenes ")
                p Excavación para bancadas para colocación de cableado de alta tensión
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (19).jpg" alt="Galeria de imagenes ")
                p Armado de escalera
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (38).jpg" alt="Galeria de imagenes ")
                p Vista general de la obra
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (39).jpg" alt="Galeria de imagenes ")
                p Supervisando el vaciado de losa de techo
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (40).jpg" alt="Galeria de imagenes ")
                p Supervisando el vaciado de losa de techo
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (41).jpg" alt="Galeria de imagenes ")
                p Vista general de la obra
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (42).jpg" alt="Galeria de imagenes ")
                p Equipo de ingenieros
            .col-12.col-md-6.col-lg-4
                img(src="images/plaza8/p (43).jpg" alt="Galeria de imagenes ")
                p Planos de tuberías de aguas residuales, aguas blancas, gas y CANTV en los locales del módulo 01